{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    ["module-resolver", {
      "root": [
        "./src/",
        "./"
      ]
    }],
    "extract-hoc/babel",
    "react-hot-loader/babel",
    ["react-css-modules", {
      "filetypes": {
        ".scss": {}
      },
      "generateScopedName": "[local]--[hash:base64:8]"
    }]
  ]
}
