.input-container {
  display: inline-block;
  width: 600px;

  .input {
    border: 1px solid $white;
    color: $black;
    display: block;
    font-size: 22px;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    width: 100%;

    &:focus {
      box-shadow: 0 0 10px $white;
    }
  }
}
