{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["./src/"]
    }],
    "extract-hoc/babel",
    "react-hot-loader/babel"
  ]
}