{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["./src/"]
    }],
    "extract-hoc/babel",
    "react-hot-loader/babel",
    ["react-css-modules", {
      "filetypes": {
        ".scss": {
          "syntax": "postcss-scss"
        }
      },
      "generateScopedName": "[local]--[hash:base64:8]"
    }]
  ]
}