.button {
  border: none;
  background: $blue;
  color: inherit;
  cursor: pointer;
  padding: 0;
  color: $white;
  font-size: 22px;
  outline: inherit;
  height: 40px;
  width: 120px;

  &:hover {
    background: $darkBlue;
  }
}