.button {
  background: $blue;
  border: 0;
  color: $white;
  cursor: pointer;
  font-size: 22px;
  height: 40px;
  outline: inherit;
  padding: 0;
  width: 120px;

  &:hover {
    background: $dark-blue;
  }
}
