.my-message-wrapper,
.chat-message-wrapper {
  .chat-message {
    display: inline-block;
    font-size: 18px;
    margin: 15px 0;
    max-width: 600px;
    padding: 15px;
    width: inherit;

    p {
      display: inline-block;
      margin: 0 0 0 10px;
    }
  }
}

.chat-message-wrapper {
  display: block;

  .chat-message {
    background: $bg-white;
    border-radius: 0 10px 10px;
    color: $black;
  }
}

.my-message-wrapper {
  text-align: right;

  .chat-message {
    background: $blue;
    border-radius: 10px 0 10px 10px;
    color: $white;
  }
}
