.chat {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  margin: 30px auto;
  width: 920px;

  label {
    display: none;
  }
}

.row {
  display: flex;
  height: calc(100vh - 121px);
  width: 100%;
}
